html {
  scroll-behavior: smooth;  
}

.App {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
}

.nav-item {
  transition: .25s;
}

.nav-item:hover {
  background-color: rgb(212, 212, 255);
}

a {
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 10px;
}

.red, .blue, .green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.red {
  background-color: #ff6d6d;
}

.green {
  background-color: #57ff57;
}

.blue {
  background-color: #8484ff;
}

#yellow {
  background-color: #ffff8f;
}

#grey {
  background-color: #c5c5c5;
}

#pink {
  background-color: #ffd3da;
}